<div class="ui segment">
<h1 class="ui block center aligned big header">
  This is a student gradebook app for IWA classes.
</h1>
  <div class="ui container">
    <p>
      Please log in as a student in order to view your grades.<br>
      Please log in as a teacher to view and edit students' grades.<br>
      Please log in as an administrator to add and delete students and grades. <br>
    </p>
    <button class="ui huge fluid simple button" (click)="redirect('login')">Log in</button>
    <h3 class="ui horizontal divider header">Not registered yet?</h3>
    <button class="ui huge fluid simple button" (click)="redirect('signup')">Sign up</button>
  </div>
</div>
