<form class="ui huge form" [formGroup]="signupForm">

  <div class="field" [ngClass]="(name.invalid && name.touched && name.value.length > 0)?'error' : (name.valid)?'success':''">
    <label>Name</label>
    <input class="ui input" placeholder="name" formControlName="name" autofocus >
  </div>
  <div class="ui negative message" *ngIf="name.invalid && name.touched && name.value.length > 0">
    The name needs to be between 4 and 30 characters.
  </div>


  <div class="field" [ngClass]="(username.invalid && username.touched && username.value.length > 0)?'error' : (username.valid)?'success':''">
    <label>Username</label>
    <input class="ui input" placeholder="username" formControlName="username" >
  </div>
  <div class="ui negative message" *ngIf="username.invalid && username.touched && (username.errors.minlength || username.errors.maxlength)">
    The username needs to be between 4 and 30 characters.
  </div>
  <div class="ui negative message" *ngIf="username.invalid && username.touched && username.errors.isUsernameUnique">
    This username is already taken!
  </div>



  <div class="field" [ngClass]="(email.invalid && email.touched && email.value.length > 0)?'error' : (email.valid)?'success':'' ">
    <label>Email</label>
    <input class="ui input" placeholder="email" formControlName="email">
  </div>
  <div class="ui negative message" *ngIf="email.invalid && email.touched && email.errors.email">
    This email doesn't look right...
  </div>
  <div class="ui negative message" *ngIf="email.invalid && email.touched && email.errors.isEmailUnique">
    This email is already taken!
  </div>


  <div class="field" [ngClass]="(password.invalid && password.touched && password.value.length > 0)?'error' : (password.valid)?'success':''">
    <label>Password</label>
    <input class="ui input" type="password" placeholder="password" formControlName="password">
  </div>
  <div class="ui negative message" *ngIf="password.invalid && password.touched && password.value.length > 0">
    This email doesn't look right...
  </div>


  <div class="field" [ngClass]="(agree.invalid && agree.touched)?'error':(agree.valid)?'success':''">
    <div class="ui checkbox">
      <input type="checkbox" formControlName="agree">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>


  <button class="ui huge submit button" type="submit" [disabled]="signupForm.invalid || signupForm.pending" (click)="signup(); ">Sign up</button>

</form>


