<h1 class="ui horizontal divider center aligned header">Add a student</h1>
<div class="ui raised segment">
  <form>
    <div class="ui labeled input">
      <div class="ui label">
        Name
      </div>
      <input type="text" #name required>
    </div>
    <div class="ui labeled input">
      <div class="ui label">
        Surname
      </div>
      <input type="text" #surname required>
    </div>
    <div class="ui labeled input">
      <div class="ui label">
        Index number
      </div>
      <input type="number" #idx required>
    </div>
    <input class="ui positive right floated button" type="submit" value="Submit" (click)="addStudent(name,surname,idx); name.value = ''; surname.value = ''; idx.value = ''">
  </form>
</div>
<br>
