
<div class="ui segments">
  <div class="ui stacked segment">
    <div class="ui grid">
      <div class="twelve wide column">
        <h3 class="ui left aligned header">{{student.name}} {{student.surname}}, {{student.indexNr}}</h3>
      </div>
      <div class="four wide column">
        <div class="ui buttons">
          <button class="ui simple right floated button" (click)="showDetail()"><span *ngIf="!detailedInfo">Show details</span>
            <span *ngIf="detailedInfo">Hide details</span>
          </button>
          <button class="ui negative right floated button" (click)="deleteStudent()">Delete Student</button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui stacked segment" *ngIf="detailedInfo">
    <div class="ui segment" *ngFor="let grade of student.grades let i=index">
      <div class="ui grid">
        <div class="ui twelve wide column">
          <h3 class="ui left floated">{{grade.subject}} - {{grade.grade}}, weight {{grade.weight}}</h3>
        </div>
        <div class="ui four wide column">
          <div class="ui buttons">
            <button class="ui simple right floated button" (click)="grade.toggleEdit()">Edit grade</button>
            <button class="ui negative right floated button" (click)="deleteGrade(grade)">Delete grade</button>
          </div>
        </div>
      </div>
      <div *ngIf="grade.singleGradeEdit">
        <br>
        <div class="ui labeled input">
          <div class="ui label">
            Subject
          </div>
          <input (keyup)="editGrade(subject,grade,weight,i)" type="text" value="{{student.grades[i].subject}}" #subject>
        </div>

        <div class="ui labeled input">
          <div class="ui label">
            Grade
          </div>
          <input (keyup)="editGrade(subject,grade,weight,i)" type="number" value="{{student.grades[i].grade}}" #grade>
        </div>

        <div class="ui labeled input">
          <div class="ui label">
            Weight
          </div>
          <input (keyup)="editGrade(subject,grade,weight,i)" type="number" value="{{student.grades[i].weight}}" #weight>
        </div>

        <input class="ui positive button" type="submit" value="Submit" (click)="editGrade(subject,grade,weight,i)">
      </div>
    </div>
    <div class="ui stacked segment" *ngIf="gradeEdit">

      <form>
        <div class="ui labeled input">
          <div class="ui label">
            Subject
          </div>
          <input type="text" #subject required>
        </div>

        <div class="ui labeled input">
          <div class="ui label">
            Grade
          </div>
          <input type="number" #grade required>
        </div>

        <div class="ui labeled input">
          <div class="ui label">
            Weight
          </div>
          <input type="number" #weight required>
        </div>

        <input class="ui positive button" type="submit" value="Add grade" (click)="addGrade(subject,grade,weight)">
      </form>

    </div>
    <button class="ui positive fluid button" (click)="editGrades()">Add new grades</button>
    <br>
    <h3 class="ui horizontal divider header"> <b>Average:</b> {{average()}}</h3>
    <br>
  </div>
</div>
